{% extends 'base/main.html' %}
{% load static %}
{% block content %}
<div class="main-container">
    <h1>Post title</h1>

    <img src="{% static 'images/sammy.jpg' %}" alt="System Under Maintenance Kindly! Thank You!!">

    <p>I enjoy working in a team environment because it allows me to learn new things and improve my skills.
        I am confident that my skills and experience will allow me to be successful in this position.
        I am also confident that my enthusiasm and willingness to learn will help me grow into a valuable
        member of your team. I would appreciate the opportunity to meet with you to discuss how my skills and
        experience can benefit your company.</p>
</div>

{% endblock content %}
